<!-- signup Page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    
    <!-- rel stand for relationship. stylesheet linkes to a CSS file. href = hypertext reference. -->
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container">
        <h1>Welcome <%= username %></h1>
        <div>
            <a class="homepage-link" href="./homepage">Click to go homepage</a>
            <div id="logout">
                <span>Logout</span>
            </div>
        </div>
    </div>

    <script type="module" src="js_scripts/userPage.js"></script>
</body>
</html>