<!-- signup Page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    
    <!-- rel stand for relationship. stylesheet linkes to a CSS file. href = hypertext reference. -->
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="username_msg">
        Welcome <%= username %>
        <p>
            <a class="homepage-link" href="./homepage">Click to go homepage</a>
        </p>
        <p>
            User Info
        </p>
        
    </div>
</body>
</html>